@import "normalize.css";
.form-wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#myForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 12px;
  background: #f3f1ed;
}
#myForm input {
  background: none;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  display: block;
  box-shadow: 0 2px #dad8d5;
  border: none;
  box-sizing: border-box;
  margin: 10px 0;
}
#myForm input:focus {
  box-shadow: 0 2px #ffdb4d;
}
#myForm input.error {
  border: 1px solid #f00;
  box-shadow: none;
}
#myForm input.valid {
  border: 1px solid #008000;
}
#resultContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 12px;
}
#resultContainer p {
  margin: 0;
}
.btn {
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #ffdb4d;
}
.btn span {
  display: block;
  transition: all 0.3s;
  position: relative;
}
.btn span:after {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  width: 16px;
  height: 16px;
  background: center center no-repeat;
  background-clip: border-box;
  background-size: cover;
  border-radius: 50%;
  border: 0.15em solid;
  border-color: currentColor currentColor currentColor transparent;
}
.btn--progress {
  background: rgba(255,219,77,0.502);
}
.btn--progress span {
  margin-right: 20px;
}
.btn--progress span:after {
  display: block;
  animation: ld-cycle 1s infinite;
}
.btn--error {
  background: #fc694a;
}
.btn--success {
  background: #00ff78;
}
@-moz-keyframes ld-cycle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ld-cycle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes ld-cycle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes ld-cycle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  }
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
