@reference "../../layouts/tailwind.css";

.articlesWrapper {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr;

  @media (min-width: theme(--breakpoint-md)) {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}
