@import 'tailwindcss';

@theme {
  --text-body2: clamp(0.9rem, 0.7308rem + 0.3077vi, 1rem);
  --text-body1: clamp(1rem, 0.9135rem + 0.3846vi, 1.25rem);
  --text-md: clamp(1.25rem, 1.1418rem + 0.4808vi, 1.375rem);
  --text-lg: clamp(1.5625rem, 1.4273rem + 0.601vi, 1.9531rem);
  --text-xl: clamp(1.9531rem, 1.7841rem + 0.7512vi, 2.4414rem);
  --text-2xl: clamp(2.4414rem, 2.2301rem + 0.939vi, 3.0518rem);

  /* Font families */
  --font-base: system-ui, sans-serif;
  --font-primary: var(--font-base);
  --font-fira: 'Fira Code', monospace;

  --color-background: rgb(255 246 237);
  --color-primary: rgb(220 139 94);
  --color-secondary: rgb(97 90 108);
  --color-details: rgb(229 225 222);
  --color-text: rgb(23 20 31);
  --color-neutral: rgb(194 181 169);
  --color-border: rgb(210 210 210);

  --color-gray-900: rgb(33 35 38);
  /* #212326 */
  --color-gray-800: rgb(45 48 53);
  /* #2D3035 */
  --color-gray-400: rgb(113 116 124);
  /* #71747C */
  --color-gray-300: rgb(149 147 147);
  /* #959393 */
  --color-gray-200: rgb(196 196 196);
  /* #C4C4C4 */
  --color-gray-50: rgb(233 233 233);
  /* #E9E9E9 */

  /* 
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-sm: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  */
}

@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
}

@layer theme {
  :root[data-theme="dark"] {
    --color-text: #ffffff;
    --color-background: #212326;
    --color-border: #2d3035;

    --color-background: #0f0d1b;
    /* night */
    --color-details: #2c2636;
    /* peach */
    --color-primary: #ffbe98;
    /* beige */
    --color-secondary: #c2b5a9;
    /* light */
    --color-text: #fff6ed;
    /* lilac */
    --color-neutral: #615a6c;
    /* for code block */
    --color-border: #374151;
  }
}

@layer base {
  :focus-visible {
    @apply outline-none rounded-md ring-2 ring-primary ring-offset-2 ring-offset-background;
  }
}
