@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-size-body2: clamp(0.9rem, 0.7308rem + 0.3077vi, 1rem);
    --font-size-body1: clamp(1rem, 0.9135rem + 0.3846vi, 1.25rem);
    --font-size-md: clamp(1.25rem, 1.1418rem + 0.4808vi, 1.375rem);
    --font-size-lg: clamp(1.5625rem, 1.4273rem + 0.601vi, 1.9531rem);
    --font-size-xl: clamp(1.9531rem, 1.7841rem + 0.7512vi, 2.4414rem);
    --font-size-2xl: clamp(2.4414rem, 2.2301rem + 0.939vi, 3.0518rem);
  }

  :root[data-theme="dark"] {
    /* midnight */
    --color-background: 15 13 27;
    /* night */
    --color-details: 44 38 54;
    /* peach */
    --color-primary: 255 190 152;
    /* beige */
    --color-secondary: 194 181 169;
    /* light */
    --color-text: 255 246 237;
    /* lilac */
    --color-neutral: 97 90 108;
    /* for code block */
    --color-border: 55 65 81;
  }

  :root[data-theme="light"] {
    /* light */
    --color-background: 255 246 237;
    --color-primary: 220 139 94;
    --color-secondary: 97 90 108;
    --color-details: 229 225 222;
    --color-text: 23 20 31;
    --color-neutral: 194 181 169;
    --color-border: 210 210 210;
  }

  a,
  summary {
    &:focus-visible {
      @apply rounded-md outline-none ring ring-primary ring-offset-2 ring-offset-background;
    }
  }

  .img-wrapper {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* strong {
    @apply text-text-accent;
  } */

  details {
    margin-bottom: 1em;
  }

  ul {
    padding-left: 1em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 4px;

    li {
      list-style: disc;
    }
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  pre {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  h2,
  h3,
  h4 {
    scroll-margin-top: 0.25em;
    font-weight: 700;
  }

  h2 {
    margin-top: 1em;
    font-size: var(--font-size-lg);

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: var(--font-size-md);
  }

  a {
    @apply text-primary text-opacity-90;

    &:hover {
      @apply text-opacity-100;
    }

    &:has(> code) {
      border-block-end: 2px solid;
    }
  }

  code {
    @apply border border-border;

    padding-block: 0.05em;
    padding-inline: 0.4em;
    border-radius: 0.25rem;
    font-size: 0.9em;
    font-family: var(--font-fira);
    font-weight: normal;
    white-space: nowrap;
    transition: border 0.3s ease;
  }

  a>code {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;

  --sb-size: 14px;
  --sb-track-color: transparent;
  --sb-thumb-color: #a6accd6f;
  --sb-thumb-padding: 4px;

  &::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
  }

  &::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    transition: all 0.2s;
    background: var(--sb-thumb-color);
    border-radius: 10px;
    background-color: var(--sb-thumb-color);
    border: var(--sb-thumb-padding) solid transparent;
    background-clip: content-box;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-background));
  font-family: var(--font-base);
  font-size: var(--font-size-body1);
  line-height: 1.55;
  /* transition: color 250ms ease 0s, background 350ms ease 0s, border .3s; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
