.summary {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  list-style: none;
}

.details {
  &[open] {
    .icon {
      transform: scaleY(-1);
    }
  }
}
