body,
html {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeueCyr, sans-serif;
  min-width: 540px;
}
.btn {
  outline: none;
  cursor: pointer;
}
:focus {
  outline: none;
}
.top-nav {
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  height: 46px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.top-nav__top-nav--active {
  display: flex;
}
.top-nav__inner {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.top-nav__menu {
  margin: 0;
  padding: 0 6px;
  height: 100%;
  display: flex;
  list-style: none;
}
.top-nav__menu__item {
  height: 100%;
  padding: 0 12px;
  margin: 0;
  margin-right: 10px;
}
.top-nav__menu__item>a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 13px;
  color: #657786;
}
.top-nav__menu__item>a i {
  font-size: 18px;
  padding-right: 6px;
  padding-left: 1px;
}
.top-nav__twitter-icon {
  position: absolute;
  top: 0;
  width: 19px;
  height: 100%;
  background: url("../img/icons/ic_twitter.svg") center no-repeat;
  left: calc(50% - 10px);
}
.top-nav__right-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2px;
}
.top-nav__mobile-btn {
  cursor: pointer;
  display: none;
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
}
.top-nav__mobile-btn span {
  width: 36px;
  height: 4px;
  border-radius: 4px;
  background: #1b95e0;
  position: relative;
}
.top-nav__mobile-btn span:before,
.top-nav__mobile-btn span:after {
  content: '';
  width: 36px;
  border-radius: 4px;
  height: 4px;
  background: #1b95e0;
  position: absolute;
  left: 0;
}
.top-nav__mobile-btn span:after {
  top: 8px;
}
.top-nav__mobile-btn span:before {
  top: -8px;
}
.right-bar__tweet {
  border: none;
  width: 74px;
  height: 34px;
  background: #1b95e0;
  border-radius: 100px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #fff;
}
.right-bar__profile {
  background: #fc494c;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 18px;
  padding: 0;
  overflow: hidden;
}
.right-bar__profile img {
  width: 100%;
  height: 100%;
}
.right-bar__search {
  width: 220px;
  height: 32px;
  padding-left: 14px;
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  box-sizing: border-box;
  border-radius: 100px;
  background-image: url("../img/icons/ic_search.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  margin-right: 16px;
  letter-spacing: -0.036em;
  outline: none;
  font-family: HelveticaNeueCyr;
}
.right-bar__search:focus {
  outline: none;
}
.hero-section {
  margin-top: 46px;
}
.hero-section__bg {
  width: 100%;
  height: 500px;
}
.hero-section__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.b-info {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.b-info__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-info__avatar {
  width: 17.58%;
  min-width: 100px;
  height: auto;
  position: absolute;
  border: 5px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  bottom: -26px;
  left: 14px;
}
.b-info__avatar img {
  width: 100%;
  display: block;
  height: auto;
}
.b-info__edit-btn {
  background: #fff;
  width: 107px;
  height: 34px;
  border: 1px solid #66757f;
  box-sizing: border-box;
  border-radius: 100px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #66757f;
  margin-right: 8px;
}
.user-stats {
  height: 100%;
  padding-left: 25%;
  display: flex;
}
.user-stats__item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #657786;
}
.user-stats__item__title {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  padding: 0 16px;
  margin-bottom: 1px;
}
.user-stats__item__count {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 18px;
}
.user-stats__item--active {
  box-shadow: inset 0 -2px #1b95e0;
  box-sizing: border-box;
}
.user-stats__item--active .user-stats__item__count {
  color: #1da1f2;
}
.main {
  background: #e6ecf0;
  display: flex;
  width: 100%;
  padding-top: 10px;
}
.main__inner {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 0 8px;
  box-sizing: border-box;
  margin: 0 auto;
}
.left-sidebar {
  padding-top: 4px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  width: 23%;
  box-sizing: border-box;
}
.left-sidebar__name {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 6px;
  color: #14171a;
}
.left-sidebar__login {
  font-weight: bold;
  font-size: 14px;
  color: #657786;
  margin-bottom: 16px;
}
.left-sidebar__description {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-bottom: 16px;
}
.left-sidebar .icon {
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-position: center;
}
.left-sidebar__icon-item {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #1b95e0;
  line-height: 1.5em;
  display: flex;
  margin-bottom: 7px;
}
.left-sidebar__icon-item i {
  font-size: 16px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 6px;
}
.left-sidebar__joined {
  font-weight: bold;
  font-size: 14px;
  color: #657786;
  margin-bottom: 14px;
}
.left-sidebar__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.left-sidebar__photos img {
  width: 81px;
  height: 81px;
  border-radius: 4px;
}
.tweets-section {
  margin-left: 2%;
  margin-bottom: 100px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 50%;
  flex: 1 0;
}
.tweets-section__header {
  display: flex;
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 1px #e6ecf0;
}
.tweets-section__header__item {
  text-decoration: none;
  padding: 12px 18px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.195px;
  color: #1b95e0;
}
.tweets-section__header__item--active {
  color: #14171a;
}
.single-tweet {
  padding-top: 10px;
  border-bottom: 1px solid #e6ecf0;
}
.single-tweet:nth-last-child(1) {
  border-bottom: none;
}
.single-tweet__type-header {
  padding-left: 70px;
}
.single-tweet__type-header__text {
  display: flex;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.01px;
  color: #657786;
}
.single-tweet__type-header i {
  position: absolute;
  left: -24px;
  top: -2px;
  font-size: 16px;
}
.single-tweet__body {
  padding-left: 70px;
  position: relative;
}
.single-tweet__body header {
  padding-top: 5px;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.25px;
}
.single-tweet__name {
  font-weight: 500;
}
.single-tweet__login,
.single-tweet__date {
  font-weight: 600;
  padding-right: 2px;
  color: #657786;
  position: relative;
}
.single-tweet__login::before {
  position: absolute;
  bottom: 5px;
  right: -1px;
  content: '';
  width: 2px;
  height: 2px;
  background: #657786;
}
.single-tweet__avatar {
  position: absolute;
  left: -56px;
  top: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.single-tweet__user-text {
  font-weight: bold;
  font-size: 14px;
  margin-top: 2px;
  padding-left: 2px;
  margin-bottom: 12px;
  line-height: 1.47em;
  color: #000;
  width: 90%;
}
.single-tweet__user-text__link {
  text-decoration: none;
  color: #1b80d8;
}
.single-tweet__image-container {
  display: flex;
  width: 97%;
  height: auto;
  margin-left: 2px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #e6ecf0;
}
.single-tweet__image-container img {
  width: 100%;
  object-fit: none;
}
.single-tweet__retweet-text {
  padding-left: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.0116667px;
  color: #14171a;
  padding-top: 4px;
}
.single-tweet__retweet-text p {
  margin: 7px 0;
}
.single-tweet__buttons {
  padding-top: 34px;
  display: flex;
  padding-bottom: 4px;
}
.single-tweet__buttons__item {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 36px;
  margin-left: 4px;
  padding: 0;
  display: flex;
  align-items: center;
}
.single-tweet__buttons__item:nth-last-child(1) {
  margin-left: 0;
}
.single-tweet__buttons__item span {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.01px;
  color: #657786;
}
.single-tweet__icon {
  display: inline-flex;
  width: 18px;
  height: 18px;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}
.single-tweet--pinned .single-tweet__type-header,
.single-tweet--retweet .single-tweet__type-header {
  display: flex;
}
.single-tweet--pinned .single-tweet__type-header__icon {
  background-image: url("../img/icons/ic_pinned.svg");
}
.single-tweet--pinned .single-tweet__image-container {
  height: 253px;
}
.single-tweet--retweet .icon-ic_retweet:before {
  color: #17bf63;
}
.single-tweet--retweet .icon-ic_retweet + span {
  color: #17bf63;
}
.single-tweet--retweet .single-tweet__type-header__icon::before {
  color: #657786;
}
.single-tweet--normal .single-tweet__image-container {
  height: 380px;
}
.right-sidebar {
  width: 24.2%;
  display: flex;
  flex-direction: column;
  margin-left: 0.85%;
}
.right-sidebar section {
  padding: 18px 16px;
  background: #fff;
  margin-bottom: 10px;
}
.right-sidebar__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #14171a;
}
.right-sidebar__title span {
  padding-right: 10px;
  letter-spacing: -0.015em;
}
.right-sidebar__title a {
  display: inline-flex;
  text-decoration: none;
  padding-right: 7px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.13px;
  color: #1b95e0;
  position: relative;
}
.right-sidebar__title a:before {
  content: '';
  width: 2px;
  height: 2px;
  position: absolute;
  left: -4px;
  top: 6px;
  background: #14171a;
}
.right-sidebar__stats-text {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  font-weight: bold;
  line-height: 1.4em;
  font-size: 14px;
  color: #000;
}
.tweet-chart__bars {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 70px;
  width: 96%;
  border-bottom: 2px solid #ccd6dd;
}
.tweet-chart__bars__item {
  width: 12.3%;
  background: #a4d9fa;
}
.tweet-chart__dates {
  width: 96%;
  display: flex;
  justify-content: space-between;
  font-family: HelveticaNeueCyr;
  font-weight: bold;
  line-height: 12px;
  font-size: 12px;
  color: #14171a;
}
.tweet-chart__link {
  display: flex;
  margin-top: 12px;
  margin-bottom: 4px;
  text-decoration: none;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  line-height: 19px;
  font-size: 14px;
  color: #1b95e0;
}
.who-to-follow {
  padding: 0 !important;
}
.who-to-follow__inner {
  padding: 18px 16px 0 16px;
}
.who-to-follow__item {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
.who-to-follow__item:nth-last-child(1) {
  border-bottom: none;
}
.who-to-follow__item__body {
  width: 75%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-bottom: 5px;
}
.who-to-follow__item header {
  line-height: 24px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 6px;
  text-overflow: ellipsis;
}
.who-to-follow__item__img {
  display: flex;
  width: 25%;
  height: 25%;
  max-width: 48px;
  max-height: 48px;
  padding-top: 6px;
  border-radius: 50%;
}
.who-to-follow__item__name {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -0.16px;
  color: #000;
}
.who-to-follow__item__login {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -0.16px;
  color: #536373;
}
.who-to-follow__link {
  margin-top: 3px;
  border-top: 1px solid #e6ecf0;
  width: 100%;
  padding: 15px 16px 18px 16px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: -0.13px;
  color: #1b95e0;
}
.who-to-follow__link i {
  padding-right: 8px;
  font-size: 18px;
}
.follow-btn {
  cursor: pointer;
  background: none;
  border: 1px solid #1b95e0;
  box-sizing: border-box;
  border-radius: 100px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  padding: 6px 24px;
  color: #1b95e0;
}
.tweet-treads {
  padding-top: 14px !important;
  padding-bottom: 8px !important;
}
.tweet-treads__item {
  padding-top: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.tweet-treads__item a {
  text-decoration: none;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  letter-spacing: -0.151667px;
  color: #1b95e0;
}
.tweet-treads__item span {
  padding-top: 2px;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;
  letter-spacing: -0.13px;
  color: #657786;
}
.copyright {
  padding-top: 7px;
  padding-left: 14px;
  font-weight: bold;
  line-height: 18px;
  font-size: 12px;
  letter-spacing: -0.13px;
  color: #536373;
}
@media (max-width: 1200px) {
  .left-sidebar__photos a {
    width: 50%;
    padding-bottom: 8px;
  }
}
@media (max-width: 1024px) {
  .left-sidebar__photos a {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 980px) {
  .top-nav__twitter-icon {
    display: none;
  }
  .main__inner {
    flex-wrap: wrap;
  }
  .right-sidebar {
    width: 100%;
    margin-left: 25%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .right-sidebar section {
    width: 32.666666666666664%;
    box-sizing: border-box;
  }
  .right-sidebar section:nth-child(2) {
    margin-left: 1%;
  }
  .right-sidebar section:nth-child(3) {
    margin-left: 1%;
  }
  .tweets-section {
    margin-bottom: 10px;
  }
  .tweet-chart {
    max-width: 450px;
    margin: 0 auto;
  }
  .right-sidebar__stats-text,
  .tweet-chart__link {
    text-align: center;
    justify-content: center;
  }
  .who-to-follow__item header {
    white-space: normal;
    line-height: normal;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .user-stats__item__title {
    padding: 0 12px;
  }
}
@media (max-width: 800px) {
  .top-nav__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    height: auto;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background: #fff;
  }
  .top-nav__menu--active {
    display: flex;
  }
  .top-nav__menu__item {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .top-nav__menu__item>a {
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
  }
  .top-nav__mobile-btn {
    display: flex;
  }
  .top-nav__inner {
    padding: 0 10px;
  }
}
@media (max-width: 640px) {
  .left-sidebar {
    width: 100%;
    padding-left: 0;
  }
  .right-sidebar {
    margin-left: 0;
  }
  .right-sidebar section {
    width: 49.5%;
  }
  .right-sidebar section:nth-child(3) {
    margin-left: 0;
    margin-right: 1%;
  }
  .tweets-section {
    margin-left: 0;
  }
  .copyright {
    padding-left: 0;
  }
  .left-sidebar__photos {
    flex-wrap: nowrap;
  }
  .b-info__avatar {
    width: 180px;
    bottom: -200px;
    left: auto;
    right: 14px;
  }
  .left-sidebar__name {
    margin-top: 0;
  }
  .user-stats {
    padding-left: 0;
  }
  .tweets-section__header {
    justify-content: center;
  }
}
