body,
html {
  margin: 0;
  padding: 0;
  min-width: 1268px;
}
.button {
  display: inline-block;
}
.page__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #434343;
  text-align: center;
}
.header {
  background: linear-gradient(289.95deg, #764ba2 -38.36%, #667eea 61.64%);
  min-height: 522px;
  display: flex;
  flex-direction: column;
}
.header__inner {
  padding: 0 48px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: inherit;
}
.header__text {
  padding-top: 172px;
}
.header__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 36px;
  color: #fff;
}
.header__description {
  font-family: Open Sans;
  font-size: 24px;
  margin-bottom: 24px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.header__iphone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  right: -23px;
  bottom: 0;
}
.header__buttons {
  display: flex;
}
.header__buttons .button {
  padding-right: 24px;
}
.inner {
  width: 100%;
  height: 100%;
  max-width: 1268px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: inherit;
}
.top-nav {
  display: flex;
  position: absolute;
  z-index: 1;
  padding: 20px 47px 0 47px;
  align-items: center;
}
.top-nav__logo {
  width: 144px;
  height: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}
.top-nav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-nav__menu>li>a {
  font-family: Open Sans;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding-left: 52px;
}
.features {
  padding-bottom: 44px;
}
.features__container {
  display: flex;
  padding: 0 48px;
  justify-content: space-between;
}
.features__title {
  margin-top: 56px;
  margin-bottom: 58px;
}
.feature {
  height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.feature__img {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(309.95deg, #764ba2 -8.76%, #667eea 91.24%);
  border-radius: 25px;
  overflow: hidden;
}
.feature__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  color: #434343;
  margin-top: 32px;
}
.feature__description {
  position: absolute;
  margin: 0;
  width: 395px;
  height: 99px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  color: #676767;
  bottom: 0;
}
.work {
  min-height: 648px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}
.work__title {
  margin-bottom: 32px;
  margin-top: 55px;
}
.work__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.work .work__items {
  padding-left: 50px;
  padding-top: 103px;
  width: 605px;
  height: 312px;
  display: flex;
  flex-wrap: wrap;
}
.work__intro {
  width: 307px;
  height: 534px;
  padding-right: 84px;
  position: relative;
}
.work__intro__play-btn {
  display: block;
  width: 56px;
  height: 56px;
  background: url("../img/work/icon-play.svg");
  position: absolute;
  left: 125.5px;
  top: 239px;
}
.work__intro__demo-link {
  display: flex;
  align-items: center;
  width: 243px;
  height: 36px;
  padding-left: 24px;
  padding-top: 8px;
  text-decoration: none;
}
.work__intro__demo-link span {
  padding-left: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  color: #53467b;
}
.single-work-item {
  width: 50%;
}
.single-work-item__img {
  width: 56px;
  height: 56px;
}
.single-work-item__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  color: #53467b;
}
.single-work-item__description {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  margin-bottom: 32px;
  color: #676767;
}
.download__inner {
  display: flex;
  flex-direction: row;
}
.download__img {
  padding-left: 22px;
  padding-top: 53px;
}
.download__text {
  padding-left: 121px;
  padding-top: 183px;
}
.download__title {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  color: #434343;
}
.download__description {
  margin-top: 12px;
  margin-bottom: 34px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #676767;
}
.download .button {
  padding-right: 24px;
}
.partners {
  background: #d2d2d2;
  height: 152px;
}
.partners__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-sizing: border-box;
}
.footer {
  display: flex;
  height: 306px;
  background: #6e5694;
  padding-top: 63px;
  box-sizing: border-box;
}
.footer__inner {
  padding: 0 50px;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;
}
.footer__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 24px;
  color: #fff;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__list>li {
  padding-bottom: 18px;
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #fff;
}
.footer__list>li a {
  text-decoration: none;
  color: inherit;
}
