[data-theme="dark"] {
  .article {
    font-weight: 300;

    a {
      font-weight: 500;
    }
  }
}

.article {
  scroll-behavior: smooth;
  font-family: var(--font-base);
  font-weight: 500;

  :global(.img-wrapper) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  ol {
    counter-reset: cupcake;
    padding-left: 0.5em;
  }

  ol li {
    counter-increment: cupcake;
  }

  ol li:before {
    @apply text-primary;

    content: counters(cupcake, '.') ' ';
    font-weight: bold;
    font-family: cursive;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  pre {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  h2, h3, h4 {
    scroll-margin-top: 0.25em;
    font-weight: 700;
  }

  h2 {
    margin-top: 1em;
    font-size: var(--font-size-lg);

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: var(--font-size-md);
  }

  a {
    @apply text-primary text-opacity-80;

    font-weight: 600;
    border-block-end: 2px solid;

    &:hover {
      @apply text-opacity-100;
    }
  }

  code {
    @apply border border-border;

    padding-block: 0.05em;
    padding-inline: 0.4em;
    border-radius: 0.25rem;
    font-size: 0.9em;
    font-family: var(--font-fira);
    font-weight: normal;
    white-space: nowrap;
  }

  a > code {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
