.blogContent {
  scroll-behavior: smooth;
  font-family: var(--font-base);
  /* font-weight: 500; */

  :global(.img-wrapper) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  /* strong {
    @apply text-text-accent;
  } */

  ol {
    counter-reset: cupcake;
    padding-left: 0.5em;
  }

  ol li {
    counter-increment: cupcake;
  }

  ol li:before {
    @apply text-primary;

    content: counters(cupcake, ".") " ";
    font-weight: bold;
    font-family: cursive;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  pre {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  h2,
  h3,
  h4 {
    scroll-margin-top: 0.25em;
    font-weight: 700;
  }

  h2 {
    margin-top: 1em;
    font-size: var(--text-lg);

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: var(--text-md);
  }

  a {
    @apply text-primary/90;
    border-block-end: 1px solid;

    &:hover {
      @apply text-primary;
    }

    &:has(> code) {
      border-block-end: 2px solid;
    }
  }

  code {
    @apply border border-border;

    padding-block: 0.05em;
    padding-inline: 0.4em;
    border-radius: 0.25rem;
    font-size: 0.9em;
    font-family: var(--font-fira);
    font-weight: normal;
    white-space: nowrap;
    transition: border 0.3s ease;
  }

  a>code {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
